body {
    margin: 0;
    background-color: #171717;
}

.sub {
    display: flex;
    bottom: 0;
    position: relative;
    width: calc(100% - 60px);
    height: 120px;
    padding: 30px;
    padding-top: 1px;
}

.title {
    height: 160px;
    max-width: 500px;
    font-family: "Montserrat";
    color: white;
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    cursor: default;
    justify-content: center;
    align-items: center;
}
.title_text {
    font-weight: 700;
    font-size: 36px;
    background-color: #171717;
    width: fit-content;
    padding: 6px 28px;
    border-radius: 100000px;
}
.title_example {
    font-weight: 200;
    margin-right: 32px;
    margin-left: 32px;
}


.message {
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    width: auto;
    position: relative;
    word-wrap: break-word;
    padding: 10px;
}

.chat {
    position: relative;
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.subbutton {
    width: 50px;
    background-color: white;
    height: 50px;
    transition: all 0.4s ease;
    border-radius: 1000px;
    cursor: pointer;
    border: none;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
    overflow: hidden;
}
.subbutton:hover {
    width: 140px;
    transition: all 0.4s ease;

    .text_submit {
        color: black;
        transform: translateX(-6px);
        transition: all 0.8s ease;
    }
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
}

.search {
    resize: none;
    border: none;
    padding: 20px;
    width: calc(100% - 18px - 22px - 60px);
    border-radius: 10px;
    background-color: #1d1d1dda;
    backdrop-filter: blur(12px);
    outline: #353535 1px solid;
    margin-right: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
}
.search:focus {
    outline-style: solid;
    outline-color: #4d4d4d;
    outline-width: 1px;
}
.search::placeholder {
    color: rgb(146, 146, 146);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

.create {
    background-color: #57575736;
    backdrop-filter: blur(6px);
    border: solid 1px #4d4d4d;
    border-radius: 1000px;
    height: 36px;
    width: 36px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 22px;
}
.rect {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rect1 {
    background-color: rgb(221, 221, 221);
    height: 2px;
    width: 54%;
    border-radius: 1000px;
    position: absolute;
}

.rect2 {
    background-color: rgb(221, 221, 221);
    height: 54%;
    width: 2px;
    border-radius: 1000px;
    position: absolute;
}

.loader {
    background-color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: slide 0.6s ease-in-out infinite;
    position: absolute;
}

@keyframes slide {
    0%, 100% {
        left: 0;
    }
    50% {
        left: 40px; /* Ajustez ceci selon la largeur du conteneur de l'animation */
    }
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user {
    border-radius: 10px;
    text-align: right;
    background-color: #171717;
}

.response {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    border: none;
    width: fit-content;
}

  table td, table th {
    border: 1px solid rgb(71, 71, 71); /* Bordures de cellules */
    background-color: transparent; /* Fond transparent */
    padding: 8px;
  }

.icon_submit {
    height: calc(50px - 26px);
    padding: 13px;
    right: 0;
    transform: translateY(2px) translateX(-1px);
}

.text_submit {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 15px;
    color: white;
    transition: all 0.8s ease;
}

.message span {
    opacity: 0;
    animation: fadeInLetter 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
  
  @keyframes fadeInLetter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeInAnimation 0.5s ease-in;
    opacity: 1;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fleche {
    height: 22px;
    width: 22px;
    position: absolute;
    cursor: pointer;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.bottom-bar {
    position: absolute;
    width: 4px;
    height: 13px;
    left: 9px;
    background-color: rgb(146, 146, 146);
    transform: rotate(0deg);
    border-radius: 2000px;
    transform-origin: center center;
    bottom: 0;
    transition: all 0.2s ease;
}

.top-bar {
    position: absolute;
    width: 4px;
    height: 13px;
    left: 9px;
    transform: rotate(0deg);
    background-color:rgb(146, 146, 146);
    border-radius: 2000px;
    transform-origin: center center;
    transition: all 0.2s ease;
    z-index: 20;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-in-cell {
    from {
        opacity: 0;
        border-color: rgba(71, 71, 71, 0);
    }
    to {
        opacity: 1;
        border-color: #353535;
    }
}

main {
    background-color: #1d1d1d;
    height: calc(100% - 22px - 22px);
    width: calc(100% - 280px - 23px - 22px);
    position: absolute;
    border-radius: 10px;
    right: 22px;
    top: 22px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    transition: all 0.3s ease;
}

nav {
    background-color: transparent;
    border-right: #212121 1px solid;
    height: 100%;
    position: fixed;
    width: 280px;
    left: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    main {
        width: 100% !important;
        height: 100%;
        margin: 0;
        top: 0;
        right: 0;
        position: fixed;
        border-radius: 0;
    }

    nav {
        display: none;
    }
}
